<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#FFB6C1">
    <meta name="msapplication-navbutton-color" content="#FFB6C1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>♥ Love ♥ ♥~~~♥~~~♥~~~♥~~~</title>

    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./library/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body ng-app="index" ng-controller="AppCtrl">
    <div id="front" ng-style="{'filter': blur, '-moz-filter': blur, '-webkit-filter': blur}">
        <h1>Title</h1>
    </div>

    <div id="showcard" ng-hide="!showcard">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="评分">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">评分</h1>
                            <div ng-cloak>
                                喜欢
                                <md-slider-container>
                                    <md-slider flex ng-model="rating.love" min="0" max="100" aria-label="blue">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="rating.love" aria-label="blue" aria-controls="blue-slider">
                                    </md-input-container>
                                </md-slider-container>

                                生活
                                <md-slider-container>
                                    <md-slider flex ng-model="rating.life" min="0" max="100" aria-label="blue">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="rating.life" aria-label="blue" aria-controls="blue-slider">
                                    </md-input-container>
                                </md-slider-container>

                                安全感
                                <md-slider-container>
                                    <md-slider flex ng-model="rating.safety" min="0" max="100" aria-label="blue">
                                    </md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="rating.safety" aria-label="blue" aria-controls="blue-slider">
                                    </md-input-container>
                                </md-slider-container>
                                <md-switch ng-model="data.cb1" aria-label="Switch 1">
                                    更改后通知
                                </md-switch>
                            </div>
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <md-button class="md-raised" ng-click="cancel()">取消</md-button>
                                <md-button class="md-raised" ng-click="reset()">重置</md-button>
                                <md-button class="md-raised md-primary">确认</md-button>
                            </section>
                        </md-content>
                    </md-tab>
                    <md-tab label="意见">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">意见或建议</h1>
                            <md-input-container class="md-block">
                                <label>在这里写出你对我的意见或建议</label>
                                <textarea ng-model="user.suggestions" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>

                        </md-content>
                    </md-tab>
                    <md-tab label="设置">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">设置</h1>
                            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                                <div>
                                    <h3>密码</h3>
                                    <md-input-container>
                                        <label>密码</label>
                                        <input type="password" ng-model="user.title">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>再次输入</label>
                                        <input type="password" ng-model="user.email" type="email">
                                    </md-input-container>
                                </div>
                            </md-content>
                            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                <md-button class="md-raised md-primary">确认</md-button>
                            </section>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="./library/angular/angular.min.js"></script>
    <script src="./library/angular-animate/angular-animate.min.js"></script>
    <script src="./library/angular-aria/angular-aria.min.js"></script>
    <script src="./library/angular-messages/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="./library/angular-material/angular-material.min.js"></script>

    <script src="./index.js"></script>
    <script>

    </script>
</body>

</html>